#artists {
    display: inline-block;
}

HIDEimg {
    height: 200px;
    width: 200px;
}

#categories {
    -webkit-transform: rotate(270deg);
    transform-origin: 50% 100% 0;
    float: left;
    width: 750px;
    height: 100px;
    margin-left: 5px;
    margin-top: auto;
}

.sidebar {
    display: inline-block;
    -webkit-flex: auto;
    margin-left: auto;
    margin-top: 38px;
    width: 140;
    height: 25px;
}

body {
    font-family: Helvetica;
    text-align: center;
}

#main {
    margin: auto;
    width: 75%%;
}

#asterisk {
    font-size:10px;
}

#genre.main {
    height: 300px;
    width: 500px;
    background-color: #B0F6E8;
    margin: auto;
}

h1 #genre {
    margin: auto;
    width: 75%;
    height: 20%;
}

#description.main {
    text-align: justify;
}