#artists {
    display: inline-block;
}

HIDEimg {
    height: 200px;
    width: 200px;
}

HIDE#categories {
    -webkit-transform: rotate(270deg);
    transform-origin: 50% 50% 0;
    float: left;
    width: 100%;
}

body {
    font-family: Helvetica;
    text-align: center;
}

#main {
    margin: auto;
    width: 80%;
}