#top-artists {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#first-row {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 70px;
    padding-top: 50px;
}

#second-row {
    display: flex;
    position: fixed-bottom;
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
}

.artist-image {
    height: 200px;
    width: 200px;
    padding-bottom: 5px;
}

.artists {
    display: inline-block;
    float: left;
    font-size: 1.3rem;
}

#page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.categories {
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
}

.categories > div {
    transform-origin: left top;
    display: flex;
    /*position: fixed;*/
    justify-content: space-around;
    align-items: center;
/*    margin-top: 10vh;*/
    -webkit-transform: rotate(-90deg) translateX(-100%);
    margin-left: 10px;
}

.categories > div > a {
    padding-right: 16px;
    color: #1B4145;
}

body {
    font-family: Helvetica;
    text-align: center;
    background-color: #F4FEFF;
}



#genre.main {
    height: 300px;
    width: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#genre h1 {
    margin: auto;
    font-size: 6rem;
    font-weight: bold;
    color: #ffffff;
}

#genre p {
    color: #C1E8E6;
    font-size: 2rem;
}

#description.main {
    text-align: justify;
}

#sidebar {
    white-space: nowrap;
}

header {
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
/*    justify-content: space-between;*/
    width: 100%;
    height: 60px;
    overflow: hidden;
    padding: 1.25rem 2.5vw;
    top: 0;
    z-index: 10;
    background-color: #87B0B2;

    opacity: 75%;
    flex: 1 0 auto;
}

#left {
    margin-left: 20px;
    -webkit-align-self: flext-start;
    align-self: flex-start;
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    align-items: center;
    height: 80%;
    margin-top: auto;
}

#right {
    margin-right: 5px;
    margin-left: auto;
    width: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80%;
    margin-top: auto;
}

#icon {
    height: 50px;
    width: 50px;
    margin-top: auto;
}

#homepage h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

#homepage p {
    font-size: 1.5rem;
}

header a {
    color: white;
    margin-right: 20px;
}

.bold {
    font-weight: bold;
    text-decoration: underline;
    color: #6EC3D6;
}

#container.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}

#genre-map {
    display: flex;
    flex-direction: column;
}

.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: -352%;
    left: 44%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 1s;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip-container {
    position: relative;
}

/*#display {
    width: 300px;
}*/

#feature-explanation {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
/*    background-color: #6EC3D6;
    border-top: 1px solid #6EC3D6;
    border-top-radius: 7px;*/
    text-align: justify;
    color: #1B4145;
}

#params {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
/*    border-style: solid;
    border-width: 1px;*/
/*    height: 353px;*/
    align-items: center;
/*    background-color: #ffffff;*/
/*    border-radius: 7px;*/
/*    border-color: #5A7678;*/
}

#main {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1 0 auto;
    width: calc(100vw - 100px);
}

section {
    display: flex;
    flex: 1 0 auto;
    height: 100vh;
    justify-content: center;
}

.main {
    margin: auto;
    width: 100%;
    display: block;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

#asterisk {
    font-size: 12px;
}

.info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: auto;
}

#svg {
    height: calc(100vh - 100px);
    width: calc(100vw - 300px);
    overflow: scroll;
    margin-top: 70px;
}

#left-map {
    display: flex;
    flex-direction: column;
    width: 300px;
/*    height: 100%;*/
    justify-content: center;
    margin-left: 5%;
}

#right-map {
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    justify-content: center;
    height: calc(100vh - 60px);
}

#bottom {
    margin-bottom: 10vh;
}

#show-genres {
    background-color: #1B4145;
    color: #ffffff;
}

#intro {
    font-size: 3rem;
    text-align: center;
}

#display {
    display: flex;
    flex-direction: column;
}

.parameter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#i-level {
    width: 80px;
}

#a-level {
    width: 110px;
}

#s-level {
    width: 100px;
}

#d-level {
    width: 115px;
}

#start, #stop, #login-button, #playlist-button {
    background-color: #1B4145;
    color: #ffffff;
}

#genre-section {
    background-color: #2F5255;
}

nav > a {
    color: #1B4145;
}

.topic {
    font-size: 3.8rem;
}

.sub {
    font-size: 1.5rem;
}

#playlist-button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#color {
    color: #1B4145;
}

#playlist-image {
    height: 300px;
    width: 300px;
}

/*#playlist-section {
    background-image: url('/static/images/005-technology.png');
}*/

.genre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#genre-image {
    height: 300px;
    width: 300px;
    margin-left: 20px;
}

#description-section {
    background-color: #CAE9F0;
    color: #1B4145;
}

.heading > h2 {
    text-align: center;
    font-size: 3.8rem;
    font-weight: bold;
}

#homepage-image { 
    height: 450px;
    width: 450px;
}

#features-section > .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
    width: 80vw;
}

#features-image {
    height: 300px;
    width: 300px;
}

#audio-features {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-contents: center;
    align-items: center;
    width: calc(100vh - 300px);
}

#features {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

#feature-names {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    text-align: justify;
}

#category {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#feature-category {
    font-size: 3rem;
    font-weight: bold;
}

#audio-features > h2 {
    font-size: 3rem;
    color: #1B4145;
    font-weight: bold;
}

#audio-features > p{
    font-size: 1.3rem;
}

#slider {
    width: 95%;
    height: 50px;
}

.highlight {
    font-weight: bold;
 /*   color: #1B4145;*/
    color: #6EC3D6;
}

#feature-info {
    padding-top: 30px;
    text-align: justify;
    font-style: italic;
    color: #2F5255;
}

.scroll-desc {
    width: 60%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#description.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-artists {
    color: #ffffff;
}

#artists-section {
    background-color: #2F5255;
}

#top-artists > h2 {
    color: #C1E8E6;
    font-size: 3rem;
    font-weight: bold;
    width: 80%;
    text-align: center;
}

#top-artists > p {
    padding-top: 10px;
    color: #C1E8E6;
    font-size: 1rem;
}

#related-section {
    background-color: #CAE9F0;
    color: #1B4145;
}

#related-genres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#related-genres > h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #1B4145;
}

#related-genres > p {
    font-size: 1.7em;
}

.purple {
    color: #7383BF;
}
