{% extends 'base.html' %}

{% block content %}
<meta charset="utf-8">
<style>

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

</style>



<style>

.node {
  opacity: 0.5;
}

.node:hover {
  opacity: 1;
}

.link {
  stroke: #999;
  stroke-opacity: 0.3;
}

</style>

<canvas width="2000" height="2000"></canvas>
<script src="https://d3js.org/d3.v4.min.js"></script>

<form id='display' action='/features'>
    <input id='acousticness' type='checkbox' name='acousticness' value='acousticness'> Acousticness <input type='range' defaultValue='.5' max='1' min='0' step='0.1' name='a-level' id='a-level' hidden><br>
    <input id='danceability' type='checkbox' name='danceability' value='danceability'> Danceability <input type='range' defaultValue='.5' max='1' min='0' step='0.1' name='d-level' id='d-level' hidden><br>
    <input id='energy' type='checkbox' name='energy' value='energy'> Energy <input type='range' defaultValue='.5' max='1' min='0' step='0.1' name='e-level' id='e-level' hidden><br>
    <input id='instrumentalness' type='checkbox' name='instrumentalness' value='instrumentalness'> Instrumentalness <input type='range' defaultValue='.5' max='1' min='0' step='0.1' name='i-level' id='i-level' hidden><br>
    <input id='liveness' type='checkbox' name='liveness' value='liveness'> Liveness <input type='range' defaultValue='.5' max='1' min='0' step='0.1' name='l-level' id='l-level' hidden><br>
    <input id='loudness'type='checkbox' name='loudness' value='loudness'> Loudness <input type='range' defaultValue='-30' max='0' min='-60' step='10' name='lo-level' id='lo-level' hidden><br>
    <input id='mode' type='checkbox' name='mode' value='mode'> Mode <input type='range' defaultValue='.5' max='1' min='0' step='0.1' name='m-level' id='m-level' hidden><br>
    <input id='speechiness' type='checkbox' name='speechiness' value='speechiness'> Speechiness <input type='range' defaultValue='.5' max='1' min='0' step='0.1' name='s-level' id='s-level' hidden><br>
    <input id='tempo' type='checkbox' name='tempo' value='tempo'> Tempo <input type='range' defaultValue='150' max='200' min='50' step='50' name='t-level' id='t-level' hidden><br>
    <input id='valence' type='checkbox' name='valence' value='valence'> Valence <input type='range' defaultValue='.5' max='1' min='0' step='0.1' name='v-level' id='v-level' hidden><br>
    <input type="submit">
</form>

<script src='static/force.js'></script>


<script>
    $('#acousticness').on('click', function() {
        $('#a-level').toggle();
    })
    $('#danceability').on('click', function() {
        $('#d-level').toggle();
    })
    $('#energy').on('click', function() {
        $('#e-level').toggle();
    })
    $('#instrumentalness').on('click', function() {
        $('#i-level').toggle();
    })
    $('#liveness').on('click', function() {
        $('#l-level').toggle();
    })
    $('#loudness').on('click', function() {
        $('#lo-level').toggle();
    })
    $('#mode').on('click', function() {
        $('#m-level').toggle();
    })
    $('#speechiness').on('click', function() {
        $('#s-level').toggle();
    })
    $('#tempo').on('click', function() {
        $('#t-level').toggle();
    })
    $('#valence').on('click', function() {
        $('#v-level').toggle();
    })
</script>

{% endblock %}

