{% extends 'base.html' %}
{% block content %}
<h1>{{genre}}</h1>
<div id='artists'>
    <h2>Popular Artists</h2>
    {% for artist in artists %}
        <div>{{artist}}<br><img src='{{artists.get(artist)}}'></div>
    {% endfor %}
</div>

<div id='related'>

    <h2>Related Genres</h2>
    {% for genre in related %}
        <span><a href='/genres/{{genre}}'>{{genre}}</a></span>
    {% endfor %}

</div>

<div id='features'>
    <h2>Audio Features</h2>
</div>

<button id='playlist'>Show me a playlist!</button>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
    $'#playlist'.on('click', renderPlaylist)

    function renderPlaylist() {

    }
</script>

{% endblock %}