{% extends 'base.html' %}
{% block content %}

<div id='page'>

    <nav class='categories'>
        <span id='related-title' class='sidebar'>Related Genres</span>
        <span id='artists-title' class='sidebar'>Top Artists</span>
        <span id='features-title' class='sidebar'>Audio Features</span>
        <span id='description-title' class='sidebar'>About the Genre</span>
        <span id='playlist-title' class='sidebar'>Music Nerd Guide</span>
    </nav>

    <div id='main'>

        <section id='genre-section'>
            <div class='main' id='genre'>
                <h1>Let's explore <b>{{ capitalized }}!</b>!</h1>
            </div>
        </section>

        <section id='playlist-section'>
            <div class='main' id='playlist'>
                <p>We've created a playlist to help get you started.</p>
                <p>Click the button below to listen to some <b>{{ genre }}</b> tunes while you learn more. This playlist
                    will be saved to your Spotify library.</p>
                <button id='playlist-button'>Show Music Nerd's Guide to {{ genre }}!</button>
                <iframe id='playlist-iframe' width="300" height="380" frameborder="0" allowtransparency="true" hidden></iframe>
            </div>
        </section>

        <section id='description-section'>
            <div class='main' id='description'>
                {% if description %}
                    <h2>A little about {{ capitalized }}...</h2>
                    <p>{{ description }}</p>
                    <p id='asterisk'>*Some genre names are similar to other Wikipedia pages, so this description
                        might seem strange. We are working on cleaning up our data.</p>
                {% else %}
                    <h2>Aw shucks! It looks like Wikipedia doesn't have much to say about {{ genre }}</h2>
                    <p>That's ok. I bet we can get a still figure out what it's all about.</p>
                {% endif %}
            </div>
        </section>

        <section id='features-section'>

            <div class='main' id='audio-features'>
                <h2>Here's What {{ capitalized }} Sounds Like</h2>
                <p>Let's take a closer look at how we can characterize its tracks</p>
                <div id='feature-names'>
                    <span id='a-label'>Acousticness</span>
                    <meta id='a-value' data-acousticness="{{features['acousticness']}}">

                    <span id='d-label'>Danceability</span>
                    <meta id='d-value' data-danceability="{{features['danceability']}}">

                    <span id='e-label'>Energy</span>
                    <meta id='e-value' data-energy="{{features['energy']}}">

                    <span id='i-label'>Instrumentalness</span>
                    <meta id='i-value' data-instrumentalness="{{features['instrumentalness']}}">

                    <span id='li-label'>Liveness</span>
                    <meta id='li-value' data-liveness="{{features['liveness']}}">

                    <span id='lo-label'>Loudness</span>
                    <meta id='lo-value' data-loudness="{{features['loudness']}}">

<!--                     <span id='m-label'>Mode</span> -->

                    <span id='s-label'>Speechiness</span>
                    <meta id='s-value' data-speechiness="{{features['speechiness']}}">

                    <span id='t-label'>Tempo</span>
                    <meta id='t-value' data-tempo="{{features['tempo']}}">

                    <span id='v-label'>Valence</span>
                    <meta id='v-value' data-valence="{{features['valence']}}">
                </div>

<!--                 <div id='feature-info'>
                    <div id='acousticness' class='feature' hidden>
                        <p>{{ features['acousticness'] }} / 1</p>
                        <p id='a-category'></p>
                        <p>A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.</p>
                    </div>
                    <div id='danceability' class='feature' hidden>
                        <p>{{ features['danceability'] }} / 1</p>
                        <p id='d-category'></p>
                        <p>Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.</p>
                    </div>
                    <div id='energy' class='feature' hidden>
                        <p>{{ features['energy'] }} / 1</p>
                        <p id='e-category'></p>
                        <p>Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.</p>
                    </div>
                    <div id='instrumentalness' class='feature' hidden>
                        <p>{{ features['instrumentalness'] }} / 1</p>
                        <p id='i-category'></p>
                        <p>Predicts whether a track contains no vocals. "Ooh" and "aah" sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly "vocal". The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.</p>
                    </div>
                    <div id='liveness' class='feature' hidden>
                        <p>{{ features['liveness'] }} / 1 - Above 0.8 = LIVE</p>
                        <p id='li-category'></p>
                        <p>Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live.</p>
                    </div>
                    <div id='loudness' class='feature' hidden>
                        <p>{{ features['loudness'] }} (-60 - 0)</p>
                        <p id='lo-category'></p>
                        <p>The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typical range between -60 and 0 db.</p>
                    </div> -->
<!--                     <div id='mode' class='feature' hidden>
                        <p id='m-category'></p>
                        <p> Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0.</p>
                    </div>
                    <div id='speechiness' class='feature' hidden>
                        <p>{{ features['speechiness'] }} / Closer to 1 = speech-like, >0.66 = entirely spoken words, 0.33-0.66 = music and speech (like rap), below 0.33 = music / not speech-like </p>
                        <p id='s-category'></p>
                        <p> Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.</p>
                    </div>
                    <div id='tempo' class='feature' hidden>
                        <p>{{ features['tempo'] }} BPM / 200</p>
                        <p id='t-category'></p>
                        <p>The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration. [OUT OF 200]</p>
                    </div>
                    <div id='valence' class='feature' hidden>
                        <p>{{ features['valence'] }} / 1, positivity measure</p>
                        <p id='v-category'></p>
                        <p>A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).</p>
                    </div> -->
 <!--                </div> -->
                <div id='feature-info'>
                    <p id='info'></p>
                </div>
                
                <div id='feature-slider'>
                    <input type='range' id='slider'step='.1'>
                </div>
                <div id='feature-category'>
                    <span id='low'>Low</span>
                    <span id='medium'>Medium</span>
                    <span id='high'>High</span>
                </div>
            </div>
            <script src='/static/genre_features.js'></script>
        </section>

        <section id='artists-section'>
            <div class='main' id='top-artists'>
                <div id='artists'>
                <h2>These are the most popular artists making {{ genre }} music</h2>
                {% for artist in artists %}
                    <div>{{artist}}<br><img src='{{artists.get(artist)}}'></div>
                {% endfor %}
                </div>
            </div>
        </section>

        <section id='related-section'>
            <div class='main' id='related-genres'>
                <h2>{{ capitalized }} is most closely related to:</h2>
                <meta id='related-one' data-genre="{{ related[0]['genre'] }}" data-shared="{{ related[0]['shared'] }}" data-upper="{{ related[0]['capitalized'] }}">
                <meta id='related-two' data-genre="{{ related[1]['genre'] }}" data-shared="{{ related[1]['shared'] }}" data-upper="{{ related[1]['capitalized'] }}">
                <meta id='related-three' data-genre="{{ related[2]['genre'] }}" data-shared="{{ related[2]['shared'] }}" data-upper="{{ related[2]['capitalized'] }}">
                <meta id='related-four' data-genre="{{ related[3]['genre'] }}" data-shared="{{ related[3]['shared'] }}" data-upper="{{ related[3]['capitalized'] }}">
                <meta id='related-five' data-genre="{{ related[4]['genre'] }}" data-shared="{{ related[4]['shared'] }}" data-upper="{{ related[4]['capitalized'] }}">

                <svg id='related' width='600px' height='160px'>
                    <div id='elements' width='80%' style='margin: auto;'>
                        <a id='one-a'><text id='one' width='100px' x='10px'></text></a><rect id='rect1' height='20px' style='fill: blue;' x='110px'/></rect>
                        <a id='two-a'><text id='two' width='100px' x='10px'></text></a><rect id='rect2' height='20px' style='fill: blue;' x='110px'/></rect>
                        <a id='three-a'><text id='three' width='100px' x='10px'></text></a><rect id='rect3' height='20px' style='fill: blue;' x='110px'/></rect>
                        <a id='four-a'><text id='four' width='100px' x='10px'></text></a><rect id='rect4' height='20px' style='fill: blue;' x='110px'/></rect>
                        <a id='five-a'><text id='five' width='100px' x='10px'></text></a><rect id='rect5' height='20px' style='fill: blue;' x='110px'/></rect>
                    </div>
                </svg>

                <script>
                    var one = $('#related-one').data();
                    var two = $('#related-two').data();
                    var three = $('#related-three').data();
                    var four = $('#related-four').data();
                    var five = $('#related-five').data();

                    $('#one-a').attr('href', '/genres/' + one.genre)
                    $('#two-a').attr('href', '/genres/' + two.genre)
                    $('#three-a').attr('href', '/genres/' + three.genre)
                    $('#four-a').attr('href', '/genres/' + four.genre)
                    $('#five-a').attr('href', '/genres/' + five.genre)

                    $('#one-a').html(one.upper)
                    $('#two-a').html(two.upper)
                    $('#three-a').html(three.upper)
                    $('#four-a').html(four.upper)
                    $('#five-a').html(five.upper)

                    $('#rect1').attr('width', one.shared * 3)
                    $('#rect2').attr('width', two.shared * 3)
                    $('#rect3').attr('width', three.shared * 3)
                    $('#rect4').attr('width', four.shared * 3)
                    $('#rect5').attr('width', five.shared * 3)

                    $('#rect1').attr('y', '10px')
                    $('#rect2').attr('y', '40px')
                    $('#rect3').attr('y', '70px')
                    $('#rect4').attr('y', '100px')
                    $('#rect5').attr('y', '130px')

                    $('#one').attr('y', '10px')
                    $('#two').attr('y', '40px')
                    $('#three').attr('y', '70px')
                    $('#four').attr('y', '100px')
                    $('#five').attr('y', '130px')
                </script>

            </div>
        </section>

    </div>

</div>


<script src="https://code.jquery.com/jquery.js"></script>
<script>
    function renderPlaylist(evt) {
        // AJAX to alert if user not signed in. Make a route to check & return data
        $.get('/playlist/{{genre}}', function(data) {
            $('#playlist-iframe').attr('src', data).show();
            $('#playlist-button').hide();
        });
    }

    $('#playlist-button').on('click', renderPlaylist);
</script>

<script>
    function emphasize(id) {
        $(id).addClass('highlighted')
    }

    function deemphasize(id) {
        $(id).removeClass('highlighted')
    }

    $('#playlist-section').on('scroll', function() { emphasize('#playlist-title'); });
    $('#description-section').on('scroll', function() { emphasize('#description-title'); });
    $('#artists-section').on('scroll', function() { emphasize('#artists-title'); });
    $('#related-section').on('scroll', function() { emphasize('#related-title'); });
    $('#features-section').on('scroll', function() { emphasize('#features-title'); });

    $('#playlist-section').off('scroll', function() { deemphasize('#playlist-title'); });
    $('#description-section').off('scroll', function() { deemphasize('#description-title'); });
    $('#artists-section').off('scroll', function() { deemphasize('#artists-title'); });
    $('#related-section').off('scroll', function() { deemphasize('#related-title'); });
    $('#features-section').off('scroll', function() { deemphasize('#features-title'); });
</script>


{% endblock %}
